//META{"name":"ELYSIA","description":"An amazing RGB theme with full customization included, made by Purple Wizard.","author":"ğ“Ÿğ“¾ğ“»ğ“¹ğ“µğ“® ğ“¦ğ“²ğ”ƒğ“ªğ“»ğ“­#3154","version":"1", "website":"https://github.com/GoldenLys/"}*//{}
@import url('https://GoldenLys.github.io/BetterDiscord-Elysia/base.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --img: url(https://cdn.discordapp.com/attachments/601793450949738516/655538242858516480/bg.png);
    --MainColor: rgb(0, 255, 0);
    --bg1: rgb(0, 196, 33);
    --bg2: rgb(7, 196, 170);
    --bg3: rgb(150, 0, 57);
    --darkgrey: rgb(32, 32, 32);
    --darkgrey5: rgba(14, 14, 14, 0.75);
    --Title: "ğ“Ÿğ“¾ğ“»ğ“¹ğ“µğ“® ğ“¦ğ“²ğ”ƒğ“ªğ“»ğ“­";
    --HSL-size: 35px;/* Size of Server Icons */
    --HSL-spacing: 10px;/* Space between servers */
    --HSL-roundness: .5em;/* Server non hovered and selected */
    --HSL-roundnessHover: 20%;/* Server hovered */
}
