//META{"name":"ELYSIA","description":"An amazing RGB theme with full customization included, made by Purple Wizard. Thank's to Gibbu#1211 for the horizontal server list.","author":"ᴘᴜʀᴘʟᴇ ᴡɪᴢᴀʀᴅ#0984","version":"1.2", "website":"https://github.com/GoldenLys/"}*//{}
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/base.css');
@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css");
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --img: url(https://cdn.discordapp.com/attachments/662824403381518374/663983186153439233/wp.jpg);
    --font: 'Quicksand', sans-serif;
    --MainColor: rgb(255, 255, 255);
    --bg1: rgb(0, 196, 33);
    --bg2: rgb(7, 196, 170);
    --bg3: rgb(150, 0, 57);
    --Title: "Elysia";
    --Online: rgb(255, 255, 255);
    --Idle: rgb(0,99,156);
    --Unavailable: rgb(122, 0, 0);
    --Spotify: rgb(20,167,71);
    --Streaming: rgb(70, 0, 192);
    --darkgrey: rgb(32, 32, 32);
    --darkgrey5: rgba(14, 14, 14, 0.75);
    --membersWrap: 60px; /*Default: 60px | You can set it to 240px to make it always shown*/
}