//META{"name":"Frost","description":"An amazing Light theme with full customization included, made by Purple Wizard.","author":"ğ“Ÿğ“¾ğ“»ğ“¹ğ“µğ“® ğ“¦ğ“²ğ”ƒğ“ªğ“»ğ“­#3154","version":"1.1", "website":"https://github.com/GoldenLys/"}*//{}
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/base.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --img: url(https://cdn.discordapp.com/attachments/476154188494143498/656603513425494016/LiElysia.jpg);
    --font: 'Quicksand', sans-serif;
    --MainColor: rgb(0, 0, 0);
    --bg1: rgb(84, 228, 253);
    --bg2: rgb(97, 231, 255);
    --bg3: rgb(190, 245, 255);
    --darkgrey: rgb(206, 248, 255);
    --darkgrey5: rgba(142, 255, 255, 0.15);
    --Title: "Frost";
    --HSL-size: 35px;
    --Online: rgb(255, 255, 255);
    --Idle: rgb(0,99,156);
    --Unavailable: rgb(122, 0, 0);
    --Spotify: rgb(20,167,71);
    --Streaming: rgb(70, 0, 192);
}