.members-1998pB {
    overflow: hidden;
    border-radius: .5em 0 0 .5em;
    width: 60px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.membersWrap-2h-GB4 {
    min-width: 60px;
}

.membersGroup-v9BXpm {
    opacity: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transition: all 500ms;
    -webkit-transition: all 500ms;
    opacity: 1;
}

.membersWrap-2h-GB4:before {
    width: 15px;
    content: "";
}

.membersWrap-2h-GB4:hover .members-1998pB{
    overflow: auto;
    width: 240px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    background-color: var(--darkgrey5)!important;
}

.messagesWrapper-3lZDfY {
    margin-right: 3.5em;
}