.members-1998pB {
    overflow: hidden;
    width: 60px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.membersWrap-2h-GB4 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 60px;
    margin-bottom: 3em;
}

.membersGroup-v9BXpm {
    display: initial;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transition: all 500ms;
    -webkit-transition: all 500ms;
    opacity: 1;
}

.membersWrap-2h-GB4:before {
    width: 30px;
    content: "";
}

.membersWrap-2h-GB4:hover .members-1998pB{
    overflow: auto;
    width: 240px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    background-color: var(--darkgrey5)!important;
    border-radius: .5em 0 0 .5em;
}

.membersGroup-v9BXpm:after {
    display: block;
    width: 85%;
    margin: 0em 1.5em;
    content: "";
    height: .5em;
    border-radius: .5em;
}